[Desktop Entry]
Type=Application
Name=EN-RU Switcher
Comment=
GenericName[ru]=Транслитератор ввода с клавиатуры
Comment[ru]=Транслитератор символов с русского на английский
Exec=/home/dart/__/erswitcher/erswitcher
Icon=/home/dart/__/erswitcher/erswitcher.png
Terminal=false
Categories=Keyboard;
X-GNOME-Autostart-enabled=true
